body {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

/*this rule hides the div containing the second question until user enters a name and click on the first button*/
.user-number {
    display: none;
}

.fortune-bot {
    background-color: #641040;
    color: #e39d2e;
    margin: auto;
    width: 500px;
    padding: 20px;
}

input {
    font-size: 20px;
}

button {
    font-size: 15px;
    background-color: #e39d2e;
    border: none;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.result-message {
    font-size: 30px;
}